sudo: false
dist: trusty
language: php

php:
  - 7.1
  - 7.0
  - 5.6

env:
  global:
  - COMPOSER_ARGS="--no-interaction"

install:
  - travis_retry composer install $COMPOSER_ARGS
  - composer show

script:
  - composer test