.spinner {
	background-size: 16px 16px;
	display: block;
	opacity: .7;
	filter: alpha(opacity=70);
	width: 16px;
	height: 16px;
	margin: 5px auto 0;
}

.spinner-inline {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	float: right;
}

.spinner-submit {
	margin: 1rem;
}

.show-spinner {
	width: 100%;
	padding: 10px;
}

.save-later {
	float: left;
}

.wd-toggle-tab {
	background-color: #f5f5f5;
	padding: 10px;
}

#open-vault-popup:hover,
.token:hover,
#open-new-card:hover,
.save-later:hover,
.delete-from-vault:hover {
	cursor: pointer;
}

.payment_method_wirecard_ee_creditcard .dashicons {
	margin-top: 3px;
}

.credit-card-heading {
	margin-top: 0;
	margin-bottom: 1em;
}

.wd-submit {
	float: right;
	margin-bottom: 2rem;
}


#vault-table td,
#vault-table th {
	padding: 5px;
	vertical-align: middle;
}

.wd-card-selector {
	text-align: center;
}

.wd-card-delete {
	color: firebrick;
}

.wd-card-delete:hover {
	text-decoration: underline;
}
