name: Run Acceptance Tests

on: push

jobs:
  run-acceptance-tests:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['7.2']
    #if: startsWith(github.head_ref, 'RC-') != false && endsWith(github.head_ref, '-major') != false  || endsWith(github.head_ref, '-minor') != false || endsWith(github.head_ref, '-patch') != false
    steps:
      - name: Checkout ${{ github.event.repository.name }}
        uses: wirecard/checkout@v2.0.0
        with:
          ref: TPWDCEE-7032-configuration
      - name: Checkout shopsystems-ui-test-runner
        uses: wirecard/checkout@v2.0.0
        with:
          repository: 'wirecard/shopsystems-ui-test-runner'
          ref: 'testing'
          path: shopsystems-ui-test-runner
      - name: PHP version setup
        uses: wirecard/setup-php@2.1.3
        with:
          php-version: ${{ matrix.php-versions }}
          extension: mbstring, intl, simplexml, dom
          ini-values: post_max_size=256M, short_open_tag=On
      - name: Extract shop name
        run: echo "::set-env name=SHOP_SYSTEM_NAME::${{ github.event.repository.name }}"
      - name: Extract ${{ github.event.repository.name }} version
        run: echo "::set-env name=SHOP_SYSTEM_VERSION::$(awk "NR==1 {print; exit}" ${SHOP_RELEASES_FILE})"
        env: 
          SHOP_RELEASES_FILE: '.bin/compatible-shop-releases.txt'
      - name: Extract branch name
        shell: bash
        run: echo "::set-env name=GIT_BRANCH::${{ github.head_ref }}"
      - name: Set global git conf
        run: git config --global user.email "" && git config --global user.name "github-actions"
      - name: Run acceptance tests
        run: shopsystems-ui-test-runner/.bin/setup-and-run-ui-tests.sh
        shell: bash
        env:
          PHP_VERSION: ${{ matrix.php-versions }}
          NGROK_TOKEN: ${{ secrets.NGROK_TOKEN }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          BROWSERSTACK_USER: ${{ secrets.BROWSERSTACK_USER }}
          PATCH_RELEASE: 'patch'
          MINOR_RELEASE: 'minor'
          MAJOR_RELEASE: 'major'
      - name: Acceptance tests passed
        if: ${{ success() }}
        run: shopsystems-ui-test-runner/.bin/upload-logs-and-notify.sh
        shell: bash
        env:
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
      - name: Acceptance tests failed
        if: ${{ failure() }}
        run: shopsystems-ui-test-runner/.bin/upload-logs-and-notify.sh fail
        shell: bash
        env:
          SLACK_ROOMS: ${{ secrets.SLACK_ROOMS }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
